//- doctype html
//- html
//-   head
//-     title My Video Sharing App
//-     link(rel='stylesheet', href='/style.css')
//-   body
//-     header
//-       h1 My Video Sharing App
//-       nav
//-         ul
//-           li
//-             a(href='/auth/login') Login
//-           li
//-             a(href='/auth/register') Register
//-     main
//-       block content
//-     footer
//-       p 2023 My Video Sharing App
doctype html
html
  head
    title My Video Sharing App
    link(rel='stylesheet', href='/style.css')
  body
    header
      h1 My Video Sharing App
      nav
        ul
          if !user
            li
              a(href='/auth/login') Login
            li
              a(href='/auth/register') Register
          else
            li
              a(href='/auth/logout') Logout

    main
      block content
    footer
      p 2023 My Video Sharing App

