extends layout

block content
  div.form-container
    h2 Welcome Back, Sign in!
    form(action='/auth/login' method='post')
      input(type='email', name='email', placeholder='youremail@email.com', required)
      input(type='password', name='password', placeholder='password', required)
      button(type='submit') Login
