extends layout

block content
  div.form-container
    h2 Welcome, why not sign up?
    form(action='/auth/register' method='post')
      input(type='email', name='email', placeholder='youremail@email.com', required)
      input(type='text', name='name', placeholder='Your Name', required)
      input(type='password', name='password', placeholder='password', required)
      button(type='submit') Register

