@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  background-color: #2d2d2d;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 20px;
  margin: 0;
}

header h1 {
  font-size: 2.5rem;
  text-align: center;
  margin: 20px 0;
  color: #ff5555;
  font-weight: 700;
}

.form-container {
  background-color: #550000;
  margin: 40px auto;
  padding: 40px 20px;
  border-radius: 8px;
  width: 50%;
  max-width: 350px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  border: 2px solid #a10000;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 90%;
  padding: 12px 15px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #a10000;
  border-radius: 5px;
  background: #1a1a1a;
  color: #ffffff;
}

h2 {
  color: #ff5555;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #a10000;
  color: white;
  padding: 12px 20px;
  margin: 20px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 90%;
}

.error {
  color: #d63333;
  margin-bottom: 15px;
  font-weight: bold;
}

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #a10000;
  padding: 10px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  font-weight: bold;
}

nav ul li a:hover {
  background-color: #d63333;
  transform: scale(1.05);
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 30px;
  color: #ffffff;
  font-size: 0.9rem;
}

.watch-video-link,
.add-video-link {
  color: red;
  background-color: grey;
  padding: 10px 15px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s, color 0.3s;
}

.watch-video-link:hover,
.add-video-link:hover {
  background-color: #d1e0f5;
  color: #002244;
}
